/.php_cs.cache
/.web-server-pid

/app/config/parameters.yml
/app/config/*.local.yml
/var/*
!/var/.gitkeep

/web/assets
/web/bundles
/web/css
/web/js
/web/media

/bin/*
!/bin/console
!/bin/symfony_requirements

/build/

/vendor
/node_modules

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/etc/build/*
!/etc/build/.gitkeep

/web/bundles/

/behat.yml
/phpunit.xml
/phpspec.yml
